# Next.js
.next/
out/

# dependencies
node_modules/

# testing
coverage/

# playwright
playwright-report/
test-results/

# env
.env*.local

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# debug
npm-debug.log*
pnpm-debug.log*

# turbo
.turbo/
